/* CSS CLASSES  */
.hidden {
    display: none !important;
}

.ui.button.active {
    border: 5px solid black;
}

.ui.buttons .button.active:first-child {
    border: 5px solid black !important;
}



/* GENERAL */
html { overflow-y: hidden; }

body {
  overflow: hidden !important; /* Hide scrollbars */
}

#app-row {
    padding-bottom: 0px !important;
    /*max-height: 100vh;*/
    /*overflow: auto;*/
}


/*MAIN VIS*/
#right-panel {
    padding-left: 0px;
}

.graph-wrapper {
    border: 1px solid black;
    /*display: flex;*/
    position: relative;
}

#main-graph-wrapper {
    /*resize: both;*/

    /*This line allows to change width */
    /*resize: horizontal;*/
    overflow: hidden;
    height: 100%;
    /*flex-grow: 1;*/
    flex: 1;
}

#document-graph-wrapper {
    margin-left: 2px;
    /*flex-grow: 1;*/
    flex: 1;
    overflow: hidden;
    height: 100%;
}

#div-main-graphs {
    width: 100%;
    height: 60vh;
    /*height: 1107px; !* VALUE FOR VIDEO ONLY*!*/
    /*display: inline-block;*/
    display: flex;
    position: relative;
    resize: vertical;
    overflow: hidden;
}


/*MENU*/
#left-menu {
    padding-right: 0px;
    /*background-color: aqua !important;*/
    max-height: 100vh;
    overflow: auto;
}

.operator-comparison {
    padding-left: 10px;
}

#menu-accordion {
    width: 100% !important;
}

/* class to disable accordion item */
.disabled.title {
  cursor: default;
  background-color: #dcddde !important;
  color: rgba(0, 0, 0, 0.4) !important;
  /*opacity: 0.3;*/
  background-image: none !important;
  box-shadow: none !important;
  pointer-events: none;
}

.circle.icon {
    opacity: 1 !important;
    z-index: 999 !important;
    /*pointer-events:  !important;*/
}

.circle.icon:hover {
    pointer-events: auto;
}

#comparison-menu-span {

}


/* GRAPH QUERY*/
.svg-graph {
    background-color: white !important;
    border: 1px solid black;
}

#div-graph-drawing {
    display: inline-block !important;
    position: relative;
    vertical-align: top;
    margin-right: 5px;
    resize: vertical;
    overflow: hidden;
}

.entity-id-text {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#visual-query-buttons {
    margin-bottom: 2%;
}

#visual-query-error {
    color: red;
}


/* LEGENDS */
#legends {
    display: inline-block;
}

#color-palette {
    margin-top: 10px;
}

.legend-title {
    font-weight: bold;
    margin-bottom: 10px;
}


/* WIDGETS */
#div-widgets-collection {
    background-color: white !important;
}

.widget {
    background-color: white !important;
    padding-bottom: 8px !important;
    padding-top: 8px !important;
}


/* CYPHER */
#cypher-error {
    color: red;
}

/* CodeMirror */
.highlight {
    /*color: orange;*/
    background: rgba(255, 255, 255, 1.0);
}

.CodeMirror {
    border: 1px solid #eee;
    height: auto;
    max-height:100px;
}

.CodeMirror-scroll {
    height: auto;
    max-height:100px;
}






/* TAB MENUS */
#results-panel {
    max-height: 40vh;
    /*min-height: 30vh;*/
    height: 40vh;
    height: available;
    overflow: auto;
}

#tables-wrapper {
    /*display: inline-block;*/
    display: flex;
    /*width: 100%;*/
    position: relative;
}

#results-tabs-main {
    height: 100%;
}

#div-summary {
    height: 100%;
}

#result-tabs-comparison {
    display: none;
}

.table-menu {
    flex: 1;
}

/* Summary results with vega */
#div-results {
    flex-wrap: wrap;
    /*overflow: auto;*/
    overflow-wrap: break-word;
    height: 100%;
}

/* DataTables*/
#query-result-datatable {
    width: 100px;
    overflow-x:auto;
    display:block;
}

.shown {
    margin-left: 0;
}

.table-property-key {
    color: purple;
}









.custom-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    /*margin-right: -50%;*/
    transform: translate(-50%, -50%);
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}





/*.query-canvas {*/
/*    width: 285px !important;*/
/*    height: 407px !important;*/
/*}*/


/* Tooltip */
/*#main-graph-tooltip {*/
.tooltip {
    /*position: absolute;*/
    position: fixed;
    padding: 8px;
    z-index: 10003;
    background-color: #ffffff;
    border: 1px solid #000000;
    /*text-align: center;*/
    /*top: 600px;*/
    /*left: 1000px;*/
    visibility: hidden;
}





/* DraggableDiv classes */
.draggable {
    position: absolute;
    z-index: 10000;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
}

.draggable-header {
    padding: 10px;
    cursor: move;
    z-index: 10001;
    background-color: #2196F3;
    color: #fff;
}









/* D3 LASSO*/
.lasso path {
    stroke: rgb(80,80,80);
    stroke-width:2px;
}

.lasso .drawn {
    fill-opacity:.05 ;
}

.lasso .loop_close {
    fill:none;
    stroke-dasharray: 4,4;
}

.lasso .origin {
    fill:#3399FF;
    fill-opacity:.5;
}

.not_possible {
    fill: rgb(200,200,200);
}

.possible {
    fill: #EC888C;
}

.selected {
    fill: red;
}